#header {
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  /* height: 100px;
  justify-content: space-between;
  margin-bottom: 1rem; */
  padding: 1rem;
  background: #fff;
  z-index: 10;
}
.header,
.category-bar {
  width: 100%;
}
.logo-container {
  align-items: center;
}
.logo-image {
  width: max-content;
  height: 60px;
}
.logo-image a img {
  height: 100%;
}
.logo-link:hover img {
  background: rgba(30, 144, 255, 0.5);
  border-radius: 0.2rem;
}
.logo-title {
  margin: 0 0.5em;
  font-size: 2rem;
}
.header {
  justify-content: space-between;
}
.header-links-container {
  align-items: center;
  font-size: 1.2rem;
}
.header-link {
  padding: 0 0.5em;
}
.header-link.search {
  position: relative;
}
.search-input {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}
.search-icon {
  position: absolute;
  right: 25px;
  top: 10px;
}
.cart-number {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.3rem;
}
a:hover .cart-number {
  border-color: dodgerblue;
}

.category-bar {
  justify-content: space-between;
  padding: 0.5rem 0;
  margin-top: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.category-bar-item {
  width: 100%;
  text-align: center;
}
.category-bar.hide {
  display: none;
  transform: translateY(40px);
}
.category-bar.show {
  display: inherit;
  animation: show 0.2s ease-in forwards;
  opacity: 0;
}
@keyframes show {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
