.main-category-container {
  margin-top: 5rem;
}
.main-category {
  flex-direction: column;
  align-items: center;
}
.main-category-title {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 0;
  border-radius: 1rem;
}
.main-category-title h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-category-title h3::before,
.main-category-title h3::after {
  content: '';
  width: 25%;
  margin: 0 3rem;
  border-bottom: 1px solid black;
}
.main-category-list {
  width: 100%;
  margin: 2rem 1rem;
  align-items: center;
}
.main-category .main-category-list {
  grid-template-columns: repeat(4, 1fr);
}
.main-category.accessories .main-category-list {
  grid-template-columns: repeat(5, 1fr);
}
.main-category-item-container {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
.main-category.accessories .main-category-item-container {
  margin: 3rem 0;
}
.main-category-img-container {
  position: relative;
  align-items: center;
  width: 60%;
  border-radius: 2rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.main-category-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: background 0.3s ease-in-out;
}
.main-category-type {
  position: absolute;
  width: 60%;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  padding: 0 0.5rem;
  pointer-events: none;
  transition: font-size 0.2s ease-in, transform 0.2s ease-in, color 0.2s ease-in;
  z-index: 3;
}

.main-category-img-container:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}
.main-category-img-container:hover + .main-category-type {
  width: 80%;
  margin-top: 0.3rem;
  color: black;
  font-size: 1.4rem;
  transition: font-size 0.2s ease-in, transform 0.2s ease-in, color 0.2s ease-in;
  transform: translateY(160px);
}
.main-category-img-container:hover .main-category-img-overlay {
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out;
}
.main-category.accessories
  .main-category-img-container:hover
  + .main-category-type {
  transform: translateY(135px);
  width: 70%;
}
