/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
#root {
  isolation: isolate;
}
.root {
  position: relative;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
.link {
  color: black;
}
.link:hover {
  color: dodgerblue;
}

.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 20;
}

.main-category-title h3,
.main-category-item div,
.brand-item,
.colors-section-title {
  text-transform: capitalize;
}
