/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
.link {
  color: black;
}
.link:hover {
  color: dodgerblue;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
  z-index: 10;
}
.logo-container {
  align-items: center;
}
.logo-image {
  width: max-content;
  height: 60px;
}
.logo-image a img {
  height: 100%;
}
.logo-link:hover img {
  background: rgba(30, 144, 255, 0.5);
  border-radius: 0.2rem;
}
.logo-title {
  margin: 0 0.5em;
  font-size: 2rem;
}
.header-links-container {
  align-items: center;
  font-size: 1.2rem;
}
.header-link {
  padding: 0 0.5em;
}
.header-link.search {
  position: relative;
}
.search-input {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}
.search-icon {
  position: absolute;
  right: 25px;
  top: 10px;
}
.cart-number {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.3rem;
}
a:hover .cart-number {
  border-color: dodgerblue;
}

.body {
  height: 1000px;
  background: dodgerblue;
}

#footer {
  padding: 6rem 1rem;
}
.footer-title {
  margin-bottom: 2rem;
}
.footer-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-column {
  padding: 0 3rem;
}
.footer-item {
  margin-bottom: 1.5rem;
}
.footer-item,
.guarantee-tag {
  align-items: center;
}
.guarantee-tag {
  margin-left: 0.5rem;
}
.sm-icon:not(:first-of-type) {
  margin: 0 1rem;
}
.sm-icon:first-of-type {
  margin-right: 1rem;
}
.link:hover .icon {
  transform: scale(1.2);
}
.link:hover .faicon {
  color: #4267b2;
}
.link:hover .twicon {
  color: #1da1f2;
}
.link:hover .igicon {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}
.link:hover .pticon {
  color: #e60023;
}
