body {
  margin: 0;
  display: flex;
}
.root {
  margin: auto;
}
.header, .cart {
  background-color: rgb(152, 146, 196);
  font-size: 24px;
  padding: 10px 24px;
}
.wicked-sales {
  cursor: pointer;
}
.category {
  font-size: 20px;
  padding: 10px 24px;
  display: flex;
  justify-content: center;
  background-color: rgb(152, 146, 196);
}
.cart {
  justify-content: flex-end;
  align-items: center;
}
.shopping-cart {
  cursor: pointer;
}
.product-main {
  padding: 35px 45px;
  background-color: rgb(202, 202, 235);
  flex-wrap: wrap;
}
.card {
  width: 28%;
  height: 418px;
  margin: 20px;
  border: 1px solid blue;
  cursor: pointer;
}
.card-img {
  height: 54%;
}
.card-img-top {
  object-fit: contain;
  height: 100%;
}
.details-main {
  width: 90%;
  padding: 0 30px 30px 30px;
  border: 1px solid black;
  border-radius: .25rem;
  margin: 30px auto;
}
.back-to-catalog {
  margin: 20px 0 0 55px;
  cursor: pointer;
}
.back-to-cart {
  margin: 0 0 0 55px;
  cursor: pointer;
}
.detail-img {
  width: 40%;
}
.detail-img img {
  object-fit: contain;
  height: 80%;
  width: 100%;
  margin: auto 0;
}
.detail-name-price {
  padding: 0 20px;
  width: 60%;
  flex-direction: column;
  justify-content: center;
}
.name-price {
  flex-direction: column;
}
.price-description {
  flex-direction: column;
}
.no-details {
  height: 400px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.no-details-message {
  width: 75%;
  font-size: 2rem;
  color: rgb(250, 250, 250);
}
.added-to-cart {
  margin-top: 7px;
  justify-content: space-between;
}
.added-to-cart button {
  margin-left: 7px;
}
.added-message {
  display: inline-block;
  color: rgb(29, 148, 29);
  border: 2px solid rgb(29, 148, 29);
  border-radius: 0.25rem;
  padding: 10px;
}
.cart-item-container {
  border: 1px solid black;
  margin: 20px 40px;
  height: 350px;
  cursor: pointer;
}
.cart-item-image-container {
  width: 40%;
}
.cart-item-image-container img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.cart-item-description {
  justify-content: center;
  flex-direction: column;
}
.cart-footer-button {
  width: 20%;
  justify-content: flex-end;
}
.cart-footer {
  margin: 0 40px;
}
.cart-footer-detail {
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
}
.place-order {
  align-items: center;
  flex-direction: column;
}
.checkout-section {
  display: flex;
  flex-direction: column;
}

/* media queries */
@media only screen and (max-width: 575px) {
  .product-main {
    padding: 10px;
  }
  .card-img {
    height: 48%;
  }
  .card {
    width: 91%;
  }
  .detail-container {
    flex-direction: column;
  }
  .detail-img {
    width: 80%;
    margin: auto;
  }
  .detail-name-price {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .name-price {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .name-price h4 {
    width: 70%;
  }
  .name-price p {
    width: 30%;
  }
  .price-description {
    flex-direction: column;
    justify-content: center;
  }
  .added-to-cart {
    flex-direction: column;
    width: 75%;
  }
  .added-to-cart button {
    margin-left: 0;
    margin-top: 10px;
    flex-direction: column;
  }
  .place-order,
  .checkout-footer {
    width: 375px;
  }
  .cart-footer {
  flex-direction: column;
  }
  .cart-footer-button {
    margin-left: 40px;
  }
  .cart-footer-detail {
    display: flex;
    align-items: center;
  }
  .cart-footer-detail span {
    font-size: 20px;
  }
  .cart-item-image-container,
  .cart-item-description {
    width: 50%;
  }
}
@media only screen and (min-width: 576px) {
  .card {
    width: 91%;
  }
  .place-order,
  .place-order form,
  .checkout-footer {
    width: 540px;
  }
  .cart-footer-detail {
    width: 80%;
  }
  .cart-item-image-container,
  .cart-item-description {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    width: 43%;
  }
  .place-order {
    width: 720px;
  }
  .cart-item-image-container{
    width: 40%;
  }
  .cart-item-description {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .card{
    width: 28%;
  }
  .place-order {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .place-order {
    width: 1140px;
  }
}
